@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using InternshipProjectMini.Constants

<h1>Product Management</h1>
<br />
@{
    var canCreate = (await AuthorizationService.AuthorizeAsync(User, Permissions.Employee.Create)).Succeeded;
    var canView = (await AuthorizationService.AuthorizeAsync(User, Permissions.Employee.Details)).Succeeded;
    var canEdit = (await AuthorizationService.AuthorizeAsync(User, Permissions.Employee.Edit)).Succeeded;
    var canDelete = (await AuthorizationService.AuthorizeAsync(User, Permissions.Employee.Delete)).Succeeded;
}

@if (canCreate)
{
    <button class="btn btn-success">Create</button>
}
@if (canView)
{
    <button class="btn btn-info">View</button>
}
@if (canEdit)
{
    <button class="btn btn-warning">Modify</button>
}
@if (canDelete)
{
    <button class="btn btn-danger">Delete</button>
}
